*
{
    border: border-box;
    font-family: REM ; 
    margin:0;

}
nav
{
    background-color:#181b1b;
    padding:5px;
    padding-left:9px;
    padding-top:9px;
    display:flex;
     align-items: center; 
    /* justify-content: space-evenly; */
}
#Nav_Logo
{
    width:7%;
    padding-top:12px;
    padding-left:2px;
    padding-right:1px;
    padding-bottom:3px;
    margin:2px;

}
#Nav_Logo:hover
{
    border:1px solid white;
    border-radius:2px;
}

#location_del
{
    color:white;
    padding:4px;

}
#location_del:hover
{
    border:1px solid white;
    border-radius:2px;
}
#del 
{
    font-size: 12px;
    color:rgb(223, 223, 223);
    margin-left:14px;
}
#Location_C
{
    display:flex;
    font-weight: bold;
}
#Location_C p
{
    margin-left:2px;
}
#Search_Bar
{
    display:flex;
    width:57%;
    margin-left: 30px;
    padding:0px;

}
#Search_Select
{
    background-color: rgb(218, 218, 218);
    color:rgb(69, 69, 69);
    padding:8px;
    margin:0;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    border:none;
}
#Search_Select:hover
{
    background-color: rgb(199, 199, 199);
    color:black;
}

#Search_Bar input
{
    width:100%;
    margin:0px;
    border:none;
    padding:10px;
}

#search_icon
{
    padding:10px;
    padding-left:12px;
    padding-right:12px;
    background-color:rgba(255, 184, 98, 0.903);
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    border:none;
    font-size:1.2rem;
}
#search_icon:hover
{
    background-color: rgba(249, 165, 61, 0.903);
}

#Language
{
    display:flex;
    color:white;
    align-items: center;
    margin-left:20px;

    padding-top:15px;
    padding-bottom:5px;
    
}
#Language:hover
{

    border:1px solid white;
}
#Language img
{
    height:15px;
    width:20px;

}
#Language p
{
    margin-left:2px;
    font-size:14px;
}
#Language select
{
    color:white;
    background: none;
    border:none;
}

#Sign_in 
{
    color:rgb(252, 252, 252);
    padding:8px;
    margin-left:5px;
    margin-right:5px;
}
#Sign_in:hover
{
    border:1px solid white;
    border-radius:2px;
}
#sign
{
    color:rgb(255, 255, 255);
    font-size:11px;

}
#List 
{
    display:flex;
}

#List p
{
    font-weight: bold;
    font-size:14px;
}
#List select
{
    background: none;
    border:none;
    color:white;
}

#Orders
{
    color:white;
    margin-left:5px;
    margin-right:5px;
    padding:8px
}
#Orders:hover
{
    border:1px solid white;
    border-radius:2px;
}
#r
{
    font-size:11px;
}
#O
{
    font-weight: bold;
    font-size:14px;
}
#Cart
{
    color:white;
    margin-left:10px;
    font-weight: bold;
    padding:8px;
 
}
#Cart:hover
{
    border:1px solid white;
    border-radius:2px;

}
#Cart i
{
    font-size: 30px;
}

/*Nav2*/

header
{
    color:white;
    width:100%;
    background-color: rgb(29, 48, 73);
    align-items: center;
    display:flex;
    font-size:14px;
}

#item_All
{
    width:2.5%;
    display:flex;
   align-items: center;
    padding:10px;
    margin-left:20px;
}
#item_All:hover
{
    border:1px solid white;
    border-radius:2px;
}
#item_All p
{
    padding-left:4px;
}
#deal
{
    padding:10px;
}
#deal:hover
{
    border:1px solid white;
    border-radius:2px;
}
#Service
{
    padding:10px;
}
#Service:hover
{
    border:1px solid white;
    border-radius:2px;
}
#Registry
{
    padding:10px;
}
#Registry:hover
{
    border:1px solid white;
    border-radius:2px;
}
#Cards
{
    padding:10px;
}
#Cards:hover
{
    border:1px solid white;
    border-radius:2px;
}
#Sell
{
    padding:10px;
}
#Sell:hover
{
    border:1px solid white;
    border-radius:2px;
}

#hero_section
{
    background-image: url("Pics/Slider5.jpg");
    background-size:cover ;
    height:400px;
}

#Shop
{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    background-color: rgb(198, 198, 198);

}
.Box
{

    width:23%;
    height:400px;
    background-color: white;
    padding:20px 0px 15px;
    margin-top:15px;
}
.box_content
{
    margin-left:1rem;
    margin-right:1rem;
    
}
.box_image
{
    height:300px;
    background-size:cover;
    margin-top:10px;
    margin-bottom:10px;

}
.box_content p
{
    color:rgb(29, 29, 225)
}
.box_content p:hover
{
    color:rgb(196, 19, 19);
}

footer
{
    margin-top:15px;
}
.panel1
{
    
    background-color: #37475a;
    color:white;
    text-align: center;
    padding:12px;
    font-size:14px;
}
.panel1:hover
{
    background-color: rgb(52, 90, 119);
}

.panel2
{
    background-color: #222f3d;
    color:white;
    height:500px;
    display: flex;
    justify-content: space-evenly;
}
ul
{
    margin:30px;
}
ul a{
    font-size:0.85rem;
    display:block;
    margin-top:10px;
    color:#dddddd;
}

.panel3
{
    width:100%;
    background-color: #222f3d;
    color:white;
    border-top:0.5px solid white;  
    height:68px;
    display:flex;
     /* justify-content: space-evenly; */
    align-items: center; 
    font-size: 12px;
}
.logo
{
    margin-left:400px;
}
.logo img
{
    width:90px;
}
.lang_panel 
{
    margin-left: 100px;
    border:1px solid white;
    border-radius:2px;


}
#content_p
{
    padding:7px;
}
.lang_panel select
{
    color:white;
    background: none;
    border:none;
}

.USD
{
    border:1px solid white;
    border-radius:2px;
    margin-left: 15px;;
}
.USD p
{
    padding:8px;
}
.US
{
    border:1px solid white;
    border-radius:2px;
    margin-left: 15px;
}
.content_US
{
    display:flex;
    padding:8px;
}
.content_US p
{
    padding-left:5px;
}
.copyright
{
    background-color: rgb(54, 49, 49);
    color:white;
    text-align: center;
    font-size:15px;
    padding:8px;

}
.copyright:hover
{
    background-color: rgb(109, 98, 98);
}





